.shake-vertical {
  display: inline-block;
  transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-vertical:hover,
.shake-trigger:hover .shake-vertical {
  animation-play-state: running;
}

@keyframes shake-vertical {
  2% {
    transform: translate(0, -2px) rotate(0);
  }

  4% {
    transform: translate(0, 6px) rotate(0);
  }

  6% {
    transform: translate(0, -1px) rotate(0);
  }

  8% {
    transform: translate(0, -6px) rotate(0);
  }

  10% {
    transform: translate(0, -2px) rotate(0);
  }

  12% {
    transform: translate(0, 6px) rotate(0);
  }

  14% {
    transform: translate(0, 0px) rotate(0);
  }

  16% {
    transform: translate(0, 3px) rotate(0);
  }

  18% {
    transform: translate(0, -1px) rotate(0);
  }

  20% {
    transform: translate(0, 10px) rotate(0);
  }

  22% {
    transform: translate(0, 2px) rotate(0);
  }

  24% {
    transform: translate(0, 5px) rotate(0);
  }

  26% {
    transform: translate(0, 7px) rotate(0);
  }

  28% {
    transform: translate(0, 6px) rotate(0);
  }

  30% {
    transform: translate(0, 0px) rotate(0);
  }

  32% {
    transform: translate(0, -5px) rotate(0);
  }

  34% {
    transform: translate(0, -3px) rotate(0);
  }

  36% {
    transform: translate(0, 10px) rotate(0);
  }

  38% {
    transform: translate(0, 2px) rotate(0);
  }

  40% {
    transform: translate(0, -3px) rotate(0);
  }

  42% {
    transform: translate(0, -2px) rotate(0);
  }

  44% {
    transform: translate(0, -5px) rotate(0);
  }

  46% {
    transform: translate(0, -5px) rotate(0);
  }

  48% {
    transform: translate(0, 7px) rotate(0);
  }

  50% {
    transform: translate(0, 2px) rotate(0);
  }

  52% {
    transform: translate(0, -8px) rotate(0);
  }

  54% {
    transform: translate(0, 0px) rotate(0);
  }

  56% {
    transform: translate(0, 6px) rotate(0);
  }

  58% {
    transform: translate(0, 5px) rotate(0);
  }

  60% {
    transform: translate(0, 7px) rotate(0);
  }

  62% {
    transform: translate(0, -6px) rotate(0);
  }

  64% {
    transform: translate(0, -7px) rotate(0);
  }

  66% {
    transform: translate(0, -8px) rotate(0);
  }

  68% {
    transform: translate(0, 4px) rotate(0);
  }

  70% {
    transform: translate(0, -4px) rotate(0);
  }

  72% {
    transform: translate(0, -2px) rotate(0);
  }

  74% {
    transform: translate(0, 0px) rotate(0);
  }

  76% {
    transform: translate(0, 1px) rotate(0);
  }

  78% {
    transform: translate(0, 6px) rotate(0);
  }

  80% {
    transform: translate(0, -6px) rotate(0);
  }

  82% {
    transform: translate(0, -6px) rotate(0);
  }

  84% {
    transform: translate(0, 7px) rotate(0);
  }

  86% {
    transform: translate(0, 0px) rotate(0);
  }

  88% {
    transform: translate(0, 6px) rotate(0);
  }

  90% {
    transform: translate(0, 3px) rotate(0);
  }

  92% {
    transform: translate(0, 9px) rotate(0);
  }

  94% {
    transform: translate(0, 4px) rotate(0);
  }

  96% {
    transform: translate(0, 3px) rotate(0);
  }

  98% {
    transform: translate(0, -1px) rotate(0);
  }

  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake-vertical:hover,
.shake-trigger:hover .shake-vertical,
.shake-vertical.shake-freeze,
.shake-vertical.shake-constant {
  animation: shake-vertical 100ms ease-in-out infinite;
}

/* shake little */

.shake-little {
  display: inline-block;
  transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-little:hover,
.shake-trigger:hover .shake-little {
  animation-play-state: running;
}

@keyframes shake-little {
  2% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  4% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  6% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  8% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  10% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  12% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  14% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  16% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  18% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  20% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  22% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  24% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  26% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  28% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  30% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  32% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  34% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  36% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  38% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  40% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  42% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  44% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  46% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  48% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  50% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  52% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  54% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  56% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  58% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  60% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  62% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  64% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  66% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  68% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  70% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  72% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  74% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  76% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  78% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  80% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  82% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  84% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  86% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  88% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  90% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  92% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  94% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  96% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  98% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake-little:hover,
.shake-trigger:hover .shake-little,
.shake-little.shake-freeze,
.shake-little.shake-constant {
  animation: shake-little 100ms ease-in-out infinite;
}
/*======================================================================
      Global
  ======================================================================*/

* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  height: 100%;
  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #000;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0  auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p,
a,
button,
span {
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
}

.pa {
  position: absolute;
}

/* psd width `divided` 10 */

/* 750/10=75 */

/* the class "content" is used for flexible plugin */

.content {
  display: block;
  min-width: 320px;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.full,
.loading,
.loading .dot,
.scene,
.stone,
.dotted,
.scene02 .tree,
.scene03 .bg,
.scene10 .bg02,
.scene10 .bg03,
.scene12 .map {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.loading {
  z-index: 100;
  background: url("../images/loading-bg.jpg") no-repeat;
  background-size: 100% 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.loading .gear {
  width: 1.57333rem;
  left: 4.24rem;
  top: 6.26667rem;
  -webkit-animation: rotate 1.5s infinite linear;
  animation: rotate 1.5s infinite linear;
}

.loading .go {
  opacity: 0;
  width: 1.6rem;
  left: 4.24rem;
  top: 6.26667rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.loading .arrow01 {
  opacity: 0;
  width: 0.70667rem;
  left: 4.70667rem;
  top: 5.06667rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.loading .arrow02 {
  opacity: 0;
  width: 0.70667rem;
  left: 4.70667rem;
  top: 8.37333rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.loading .flash01 {
  width: 2.36rem;
  left: 1.2rem;
  top: 6.58667rem;
  -webkit-animation: toRight 1.5s infinite linear;
  animation: toRight 1.5s infinite linear;
}

.loading .flash02 {
  width: 2.36rem;
  right: 1.2rem;
  top: 6.58667rem;
  -webkit-animation: toLeft 1.5s infinite linear;
  animation: toLeft 1.5s infinite linear;
}

.loading .text-wrap {
  color: #fff;
  font-size: 20/750rem;
  left: 0;
  right: 0;
  top: 9.6rem;
  text-align: center;
}

.loading .text-wrap .tips {
  margin-top: 14px;
}

.loading.active .gear {
  opacity: 0;
}

.loading.active .go {
  opacity: 1;
  z-index: 100;
  -webkit-animation: rotate3d 3s infinite;
  animation: rotate3d 3s infinite;
}

.loading.active .arrow01 {
  opacity: 1;
  -webkit-animation: toDown 2s infinite;
  animation: toDown 2s infinite;
}

.loading.active .arrow02 {
  opacity: 1;
  -webkit-animation: toUp 2s infinite;
  animation: toUp 2s infinite;
}

.loading.active .flash01 {
  -webkit-animation: none;
  animation: none;
}

.loading.active .flash02 {
  -webkit-animation: none;
  animation: none;
}

.loading.leave {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.scene {
  opacity: 0;
  position: absolute;
}

.fixed-logo {
  opacity: 0;
  width: 1.68rem;
  top: 0.57333rem;
  right: 0.13333rem;
  z-index: 100;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fixed-logo.active {
  opacity: 1;
}

.fixed-logo.leave {
  opacity: 0;
}

.stone {
  opacity: .8;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.stone.active {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation: float 28s .2s infinite;
  animation: float 28s .2s infinite;
}

.stone.leave {
  opacity: 0;
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.hide {
  display: none !important;
}

.scene01 {
  background: url("../images/s01-bg.jpg") no-repeat;
  background-size: 100% 100%;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.scene01 .title {
  opacity: 0;
  width: 4.61333rem;
  top: 11.49333rem;
  left: 2.70667rem;
  -webkit-transition: opacity .6s 1s, top 1s;
  transition: opacity .6s 1s, top 1s;
}

.scene01.active {
  opacity: 1;
}

.scene01.active .title {
  opacity: 1;
}

.scene01.leave .title {
  top: 8.73333rem;
}

.dotted {
  opacity: 0;
  width: 10rem;
  -webkit-transition: all .25s;
  transition: all .25s;
  -webkit-transform: translate3d(20px, -20px, 0);
  transform: translate3d(20px, -20px, 0);
}

.dotted.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene02 .title {
  opacity: 0;
  width: 4.61333rem;
  top: 11.49333rem;
  left: 2.70667rem;
  -webkit-transition: top 1s;
  transition: top 1s;
}

.scene02 .chain {
  opacity: .3;
  top: 12.8rem;
  width: 2.44rem;
  -webkit-transition: left .8s .6s, right .8s .6s, opacity .3s .6s;
  transition: left .8s .6s, right .8s .6s, opacity .3s .6s;
}

.scene02 .chain01 {
  left: -100%;
}

.scene02 .chain02 {
  right: -100%;
}

.scene02 .flash {
  opacity: 0;
  top: 14rem;
  width: 2.44rem;
  -webkit-transition: opacity 0s 1s;
  transition: opacity 0s 1s;
}

.scene02 .flash01 {
  left: 0;
}

.scene02 .flash02 {
  right: 0;
}

.scene02 .line {
  top: 15.06667rem;
  left: 0;
  right: 0;
  text-align: center;
}

.scene02 .line i {
  display: inline-block;
  width: 0;
  height: 10px;
  background: #e1d506;
  -webkit-transition: width 1s .8s;
  transition: width 1s .8s;
}

.scene02 .tree {
  opacity: 0;
  -webkit-transition: opacity 1s .8s;
  transition: opacity 1s .8s;
}

.scene02.active {
  opacity: 1;
}

.scene02.active .title {
  opacity: 1;
  top: 8.73333rem;
}

.scene02.active .chain {
  opacity: 1;
}

.scene02.active .chain01 {
  left: 0;
}

.scene02.active .chain02 {
  right: 0;
}

.scene02.active .flash {
  opacity: 1;
  -webkit-animation: shake-vertical 600ms ease-in-out infinite 1.5s;
  animation: shake-vertical 600ms ease-in-out infinite 1.5s;
}

.scene02.active .line i {
  width: 4.61333rem;
}

.scene02.active .tree {
  opacity: 1;
}

.scene03 .bg {
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.scene03 .title {
  width: 5.08rem;
  left: 0.53333rem;
  top: 2.46667rem;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scene03 .title02 {
  width: 3.2rem;
  left: 6.02667rem;
  top: 3.33333rem;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scene03 .title03 {
  opacity: 0;
  width: 3.2rem;
  left: 6.02667rem;
  top: 3.33333rem;
}

.scene03 .bar {
  width: 10rem;
  left: 0;
  bottom: 0;
  -webkit-transform: translate3d(-100%, 100%, 0);
  transform: translate3d(-100%, 100%, 0);
  -webkit-transition: all 1.2s 1s;
  transition: all 1.2s 1s;
}

.scene03 .bar02 {
  width: 10rem;
  left: 0;
  bottom: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
  -webkit-transition: all 1.2s 1s;
  transition: all 1.2s 1s;
}

.scene03.active {
  opacity: 1;
}

.scene03.active .bg {
  opacity: 1;
}

.scene03.active .title,
.scene03.active .title02 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene03.active .title03 {
  -webkit-animation: flash .4s .8s infinite;
  animation: flash .4s .8s infinite;
}

.scene03.active .bar,
.scene03.active .bar02 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene04 .title {
  width: 4.76rem;
  right: 0.58667rem;
  top: 5.62667rem;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scene04 .title02 {
  width: 5.16rem;
  left: 0rem;
  top: 6.46667rem;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scene04 .title03 {
  opacity: 0;
  width: 5.16rem;
  left: 0rem;
  top: 6.46667rem;
}

.scene04.active {
  opacity: 1;
}

.scene04.active .bg {
  opacity: 1;
}

.scene04.active .title,
.scene04.active .title02 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene04.active .title03 {
  -webkit-animation: flash .4s .8s infinite;
  animation: flash .4s .8s infinite;
}

.toTop {
  -webkit-transform: translate3d(0, -100%, 0) !important;
  transform: translate3d(0, -100%, 0) !important;
  -webkit-transition: -webkit-transform 1.5s !important;
  transition: transform 1.5s !important;
}

.scene05 {
  background: url("../images/s05-bg.jpg") no-repeat;
  background-size: 100% 100%;
  -webkit-transition: opacity 1.2s 1s;
  transition: opacity 1.2s 1s;
}

.scene05.active {
  opacity: 1;
}

.scene06 .tree {
  -webkit-transition: all .9s .4s;
  transition: all .9s .4s;
}

.scene06 .tree-left {
  opacity: .3;
  width: 2.70667rem;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(-80%, 0, 0);
  transform: translate3d(-80%, 0, 0);
}

.scene06 .tree-middle {
  opacity: .3;
  width: 6.64rem;
  left: 1.96rem;
  bottom: 0;
  -webkit-transform: translate3d(0, 80%, 0);
  transform: translate3d(0, 80%, 0);
}

.scene06 .tree-right {
  opacity: .3;
  width: 3.90667rem;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(80%, 0, 0);
  transform: translate3d(80%, 0, 0);
}

.scene06.active {
  opacity: 1;
}

.scene06.active .tree {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene06.leave .tree-middle {
  opacity: 0;
  -webkit-transition: all .9s;
  transition: all .9s;
}

.scene07 {
  opacity: 1;
}

.scene07 .tree-middle {
  opacity: 0;
  width: 7.66667rem;
  left: 1rem;
  bottom: 0;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.scene07 .bianfu-big {
  opacity: 0;
  width: 3.6rem;
  left: -0.4rem;
  top: 1.90667rem;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 1.2s .3s;
  transition: all 1.2s .3s;
}

.scene07 .bianfu-small {
  opacity: 0;
  width: 5.8rem;
  left: -2.66667rem;
  top: 0.13333rem;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 1.2s .3s;
  transition: all 1.2s .3s;
}

.scene07.active .tree-middle {
  opacity: 1;
}

.scene07.active .bianfu-big {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.scene07.active .bianfu-small {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene07.leave .bianfu-big {
  -webkit-transform: translate3d(77%, 0, 0) scale(50);
  transform: translate3d(77%, 0, 0) scale(50);
  -webkit-transform-origin: 50% 70%;
  -ms-transform-origin: 50% 70%;
  transform-origin: 50% 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.scene07.leave .bianfu-small {
  -webkit-transform: translate3d(103%, 0, 0) scale(30);
  transform: translate3d(103%, 0, 0) scale(30);
  -webkit-transition: all 1s .2s;
  transition: all 1s .2s;
}

.scene09 {
  opacity: 0;
  background: url("../images/s09-bg.jpg") no-repeat;
  background-size: 100% 100%;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

.scene09 .glass01 {
  width: 5.72rem;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all .6s 1s;
  transition: all .6s 1s;
}

.scene09 .glass02 {
  width: 6.88rem;
  bottom: 0;
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all .6s 16s;
  transition: all .6s 16s;
}

.scene09 .title {
  opacity: 0;
  width: 4.61333rem;
  left: 2.66667rem;
  -webkit-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  -webkit-transition: .6s;
  transition: .6s;
}

.scene09 .title01 {
  width: 5.78667rem;
  left: 2.13333rem;
  top: 2rem;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.scene09 .title02 {
  width: 5.78667rem;
  left: 2.13333rem;
  top: 3.42667rem;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition-delay: 3.9s;
  transition-delay: 3.9s;
}

.scene09 .title03 {
  top: 6.04rem;
  -webkit-transition-delay: 8.32s;
  transition-delay: 8.32s;
}

.scene09 .title04 {
  top: 7.78667rem;
  -webkit-transition-delay: 9.36s;
  transition-delay: 9.36s;
}

.scene09 .title05 {
  top: 9.56rem;
  -webkit-transition-delay: 13.26s;
  transition-delay: 13.26s;
}

.scene09 .title06 {
  top: 11.28rem;
  -webkit-transition-delay: 15.86s;
  transition-delay: 15.86s;
}

.scene09 .chain {
  opacity: 0;
  top: 5.2rem;
  left: 0;
  right: 0;
  height: 20px;
  background: url("../images/s09-chain.png") repeat-x;
  background-size: auto 20px;
  -webkit-animation: chainMoveRight 1.3s linear infinite;
  animation: chainMoveRight 1.3s linear infinite;
}

.scene09 .text-wrap {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.scene09 .bar {
  width: 10rem;
  left: 0;
  bottom: 0;
  -webkit-transform: translate3d(-100%, 100%, 0);
  transform: translate3d(-100%, 100%, 0);
  -webkit-transition: all 1.5s 1.8s;
  transition: all 1.5s 1.8s;
}

.scene09 .bar02 {
  width: 10rem;
  left: 0;
  bottom: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
  -webkit-transition: all 1.5s 1.8s;
  transition: all 1.5s 1.8s;
}

.scene09.appear {
  opacity: 1;
}

.scene09.active .chain {
  opacity: 1;
  -webkit-transition: opacity .9s;
  transition: opacity .9s;
}

.scene09.active .glass01,
.scene09.active .glass02 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene09.active .bar,
.scene09.active .bar02 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene09.active .title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene09.arrowLeave .bar,
.scene09.arrowLeave .bar02 {
  opacity: .3;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.scene09.leave .text-wrap {
  opacity: 0;
  -webkit-transform: scale(20) !important;
  -ms-transform: scale(20) !important;
  transform: scale(20) !important;
}

.scene10 {
  opacity: 1;
}

.scene10 .bg02 {
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.scene10 .bg03 {
  opacity: 0;
}

.scene10 .bar {
  width: 10rem;
  left: 0;
  bottom: 0;
  -webkit-transform: translate3d(-100%, 100%, 0);
  transform: translate3d(-100%, 100%, 0);
  -webkit-transition: all 1.2s 3.4s;
  transition: all 1.2s 3.4s;
}

.scene10 .bar02 {
  width: 10rem;
  left: 0;
  bottom: 0;
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0);
  -webkit-transition: all 1.2s 3.4s;
  transition: all 1.2s 3.4s;
}

.scene10.active .bg02 {
  opacity: 1;
}

.scene10.active .bg03 {
  opacity: 1;
}

.scene10.active .bar,
.scene10.active .bar02 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene10.appear .bg02 {
  -webkit-animation: zoomIn .6s ease-in-out;
  animation: zoomIn .6s ease-in-out;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.scene10.appear .bg03 {
  -webkit-animation: zoomIn .6s ease-in-out;
  animation: zoomIn .6s ease-in-out;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.scene10.tankFlash .bg03 {
  -webkit-animation: flash 1.4s infinite;
  animation: flash 1.4s infinite;
}

.scene10.leave {
  opacity: 0;
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.scene11 {
  opacity: 0;
  background: url("../images/s11-bg.jpg") no-repeat;
  background-size: 100% 100%;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

.scene11 .title {
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.scene11 .title01 {
  width: 5rem;
  top: 1.01333rem;
  left: 1.76rem;
}

.scene11 .title02 {
  width: 5rem;
  top: 5.2rem;
  left: 1.76rem;
}

.scene11 .title03 {
  width: 2.33333rem;
  top: 1.01333rem;
  left: 6.6rem;
}

.scene11 .title04 {
  width: 7.98667rem;
  top: 9.57333rem;
  left: 1.86667rem;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all .8s;
  transition: all .8s;
}

.scene11 .para01 {
  opacity: 0;
  width: 6.66667rem;
  left: 1.76rem;
  bottom: 2.26667rem;
  -webkit-transform: translate3d(0, 10%, 0);
  transform: translate3d(0, 10%, 0);
  -webkit-transition: all .8s;
  transition: all .8s;
}

.scene11 .para02 {
  opacity: 0;
  width: 3.42667rem;
  left: 3.36rem;
  bottom: 1.62667rem;
  -webkit-transform: translate3d(0, 10%, 0);
  transform: translate3d(0, 10%, 0);
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

.scene11.active {
  opacity: 1;
}

.scene11.active .title01 {
  opacity: 1;
  z-index: 10;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.scene11.active .title02 {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  z-index: 10;
}

.scene11.active .title03 {
  opacity: 1;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
  z-index: 10;
}

.scene11.active .title04 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 2.3s;
  transition-delay: 2.3s;
}

.scene11.active .para01 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.scene11.active .para02 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.scene11.leave {
  opacity: 0;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.scene12 .logo {
  opacity: 0;
  width: 10rem;
  left: 0;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.scene12 .para01 {
  opacity: 0;
  width: 8.01333rem;
  top: 7.88rem;
  left: 1.02667rem;
  -webkit-transition: all 1s .8s;
  transition: all 1s .8s;
}

.scene12 .para02 {
  opacity: 0;
  width: 6.66667rem;
  top: 11.73333rem;
  left: 1.66667rem;
  -webkit-transition: all .6s 1.6s;
  transition: all .6s 1.6s;
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
}

.scene12 .btn {
  opacity: 0;
  width: 2.92rem;
  bottom: 0.93333rem;
  left: 3.6rem;
  -webkit-transition: all .6s 2.4s;
  transition: all .6s 2.4s;
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
}

.scene12 .map {
  opacity: 0;
  background: #000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.scene12 .map .img {
  width: 10rem;
  top: 0;
  left: 0;
}

.scene12 .map .txt {
  width: 10rem;
  bottom: 0;
  left: 0;
  background: #000;
}

.scene12 .map .txt img {
  display: block;
  width: 10rem;
}

.scene12 .map .close {
  width: 2.66667rem;
  height: 200px;
  top: 0;
  right: 0;
}

.scene12 .b {
  opacity: 0;
  width: 10rem;
  top: 7.36rem;
  left: 0;
  -webkit-transition: all 1s .8s;
  transition: all 1s .8s;
}

.scene12 .b img {
  width: 10rem;
}

.scene12 .b .name {
  top: 3%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: .4rem;
  text-align: center;
}

.scene12 .b .name .name_txt {
  font-size: .75rem;
  margin-left: 30px;
}

.scene12 .b .name * {
  vertical-align: middle;
}

.scene12.scene12-b .para01-a {
  display: none !important;
}

.scene12.scene12-b.active .b {
  opacity: 1;
}

.scene12.active {
  opacity: 1;
}

.scene12.active .logo,
.scene12.active .para01,
.scene12.active .para02,
.scene12.active .btn {
  opacity: 1;
}

.scene12.active .para02,
.scene12.active .btn {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scene12.active .btn {
  -webkit-animation: toUp 2s infinite 3s;
  animation: toUp 2s infinite 3s;
}

.scene12.showMap {
  z-index: 1000;
}

.scene12.showMap .map {
  opacity: 1;
}

.scene12.showMap .btn {
  display: none;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes chainMoveRight {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes chainMoveRight {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@-webkit-keyframes toUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes toUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes toDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes toDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate3d {
  20% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  80% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate3d {
  20% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  80% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes toLeft {
  0% {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }
}

@keyframes toLeft {
  0% {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }
}

@-webkit-keyframes toRight {
  0% {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }
}

@keyframes toRight {
  0% {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  70% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  70% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(-4%, 4%, 0);
    transform: translate3d(-4%, 4%, 0);
  }

  70% {
    -webkit-transform: translate3d(4%, -4%, 0);
    transform: translate3d(4%, -4%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(-4%, 4%, 0);
    transform: translate3d(-4%, 4%, 0);
  }

  70% {
    -webkit-transform: translate3d(4%, -4%, 0);
    transform: translate3d(4%, -4%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*======================================================================
      Responsive
  ======================================================================*/